@import "../../../../mixins.module.scss";

.lifeInfoContainer {
  @include x-center;

  .infoRow {
    width: 100%;
  }
  .colOneContainer {
    background: url("../../../../Assets/LifeInRussia/lifeOne.jpg");
    @include bg-center;
    @include y-bot-left;
    @include colStyles;
    transition: background-size 0.3s ease-in-out;

    .upperText {
      @include infoText;
      font-size: 20px;
    }

    h1 {
      @include infoText;
      @include infoHead;
    }
  }

  .colOneContainer::after {
    @include afterContent;
  }

  .colOneContainer:hover {
    background-size: 102%;
  }

  .colTwoContainer {
    background: url("../../../../Assets/LifeInRussia/lifeTwo.jpg");
    @include bg-center;

    @include y-bot-left;
    @include colStyles;
    transition: background-size 0.3s ease-in-out;


    .upperText {
      @include infoText;
      font-size: 20px;
    }

    h1 {
      @include infoText;
      @include infoHead;
    }
  }

  .colTwoContainer::after {
    @include afterContent;
  }

  .colTwoContainer:hover{
    background-size:190%;
  }

  .colThreeContainer {
    background: url("../../../../Assets/LifeInRussia/lifeThree.jpg");
    @include bg-center;

    @include y-bot-left;
    @include colStyles;
    transition: background-size 0.3s ease-in-out;


    .upperText {
      @include infoText;
      font-size: 20px;
    }

    h1 {
      @include infoText;
      @include infoHead;
    }
  }

  .colThreeContainer::after {
    @include afterContent;
  }

  .colThreeContainer:hover{
    background-size: 190%;
  }

  .colFourContainer {
    background: url("../../../../Assets/Nested/safetyFirst.jpg");
    @include bg-center;

    @include y-bot-left;
    @include colStyles;
    transition: background-size 0.3s ease-in-out;


    .upperText {
      @include infoText;
      font-size: 20px;
    }

    h1 {
      @include infoText;
      @include infoHead;
    }
  }

  .colFourContainer::after {
    @include afterContent;
  }

  .colFourContainer:hover{
    background-size:160%;
  }

  .colFiveContainer {
    background: url("../../../../Assets/LifeInRussia/lifeSeven.png");
    @include bg-center;

    @include y-bot-left;
    @include colStyles;
    transition: background-size 0.3s ease-in-out;


    .upperText {
      @include infoText;
      font-size: 20px;
    }

    h1 {
      @include infoText;
      @include infoHead;
    }
  }

  .colFiveContainer::after {
    @include afterContent;
  }

  .colFiveContainer:hover{
    background-size:130%;
  }

  .colSixContainer {
    // background: url("../../../../Assets/LifeInRussia/lifeSix.jpg");
    background: url("../../../../Assets/students/IntroSeven.jpg");

    @include bg-center;

    @include y-bot-left;
    @include colStyles;
    transition: background-size 0.3s ease-in-out;

    .upperText {
      @include infoText;
      font-size: 20px;
    }

    h1 {
      @include infoText;
      @include infoHead;
    }
  }

  .colSixContainer::after {
    @include afterContent;
  }

  .colSixContainer:hover {
    background-size: 102%;
  }

  .hrStyle {
    @include infoText;
    border: 4px solid #fe2216;
    width: 30%;
    opacity: 1;
    margin: 0;
  }
}
