@import "../../../mixins.module.scss";

.eduContainer {
  @include nopad;
  @include y-center;
  height: 81.5vh;
  padding-inline: 4% !important;
  // padding-top: 7% !important;
  // border:1px solid black;
  @include bgcolor;
}
.eduTitle {
  @include heading;
  margin-bottom: 3%;
}

.colsContainer {
  @include x-center;
  @include nopad;

  .rowOptions {
    width: 100%;
    height: 54vh;
    @include x-sb;
  }

  .optionContainer {
    height: 100%;
    width: 22%;
    margin-inline: 1%;
    // border: 2px solid red;

    a {
      text-decoration: none;
    }

    .applyDiv {
      height: 100%;
      width: 105%;
    }

    .optionUpper {
      @include x-center;
      height: 30vh;
      // border:1px solid black;

      // img{
      //   width:100%;
      //   height:auto;
      // }
    }

    .optionLower {
      @include y-center;
      height: 24vh;
      // border:1px solid black;
      background-color: white;
      p {
        font-family: sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 15px;
        text-align: center;
        color: black;
      }

      .subText {
        font-size: 12px;
        font-weight: 550;
      }
    }
  }
}

// styling for mobile portrait

@media (max-width: 576px) and (orientation: portrait) {
  .eduContainer {
    height: auto;
    // padding-inline: 0 !important;
    padding: 12% 4% !important;
  }

  //yet to be changed
  .eduTitle {
    font-size: 7vw;
    line-height:32px;
  }

  .colsContainer {
    display: block;

    .rowOptions {
      width: 100%;
      height: auto;
    }

    .optionContainer {
      height: auto;
      width: 100%;
      margin: 4% 0;

      .innerContainer {
        padding: 0;
      }

      .applyDiv {
        height: 54vh;
        width: auto;
      }

      .optionLower{
        p{
          font-size:18px;
        }

        .subText{
          font-size:14px;
        }
      }


    }
  }
}
