@import "../../../mixins.module.scss";

.mobHeaderContainer {
  display: none;
}

// element styling
.headerContainer {
  @include x-center;
  // padding-inline: 7% !important;
  height: auto;
  // border: 1px solid black;
  // background-color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.7);
  position: sticky;
  top: 0;
  z-index: 10;

  .headerFirstCol {
    width: 100%;
    padding: 0.5% 7% 0.5% 7%;
    background-color: rgba(255, 255, 255, 1);
  }

  .headerSecCol {
    width: 100%;
    padding: 0% 7%;
  }
}

.brandCol {
  // @include x-center;
  @include nopad;
  a {
    text-decoration: none;
    @include x-center;
    cursor: pointer;
  }
  img {
    width: 20%;
    height: auto;
    border-radius: 60%;
  }

  .headText {
    padding-left: 4%;
    // display:flex;
    // flex-direction: column;
    // justify-content: center;
    @include y-start;
    h1 {
      // font-family: sans-serif;
      // font-family:"playfair display sc";
      
      font-style: normal;
      font-weight: 700;
      font-size: 1.5vw;
      color: #dd3534;
      margin-bottom: 0;
      
    }
    p {
      // font-family: sans-serif;
      font-family:"open sans";
     
      font-weight: 600;
      font-size: 1.1vw;
      line-height: 18px;
      margin: 0;
      color: black;
    }
  }
}

.headLinkCol {
  @include x-end;

  .headLinkUl {
    list-style-type: none;
    @include x-sb;
    width: 45%;
    margin-bottom: 0;
    // img{
    //   width:90%;
    //   height:auto;
    // }
  }
}

// second head col style begins
.linksCol {
  padding: 0 !important;
  @include x-center;

  ul {
    @include x-center;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    width: 100%;
  }

  a {
    text-decoration: none;
    // color:black;
    // color: black;
    color: white;
    font-weight: 700;
    font-size: 1.2vw;
  }
}

ul li {
  text-decoration: none;
  display:flex;
}

.activeLink {
  color: red !important;
}

// .inactiveLink{
//   color:white !important;
// }

.buttonCol {
  @include x-end;

  .whatsappDiv {
    display: flex;
    margin-right: 9%;

    align-items: center;
    justify-content: end;
    img {
      width: 1.7vw;
      height: auto;
    }

    p {
      font-size: 1.2vw;
      color: white;
      font-weight: 600;
      margin-bottom: 0;
      margin-left: 8%;
    }
  }

  button {
    @include x-center;
    padding: 2% 5%;
    background-color: #dd3534;
    border: 0;
    a {
      text-decoration: none;
      color: whitesmoke;
    }
    p {
      margin-bottom: 0;
      font-weight: 500;
      color: white;
    }
  }
}

// modal styling begins

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  position: relative;
  width: 65%;
  height: auto;
  background-color: white;
  z-index: 100;
  padding: 10px;
  @include x-center;

  .modalRow {
    width: 100%;
  }

  .modalLeftCol {
    border: 1px solid #000;
    background-color: grey;

    h1 {
      color: whitesmoke;
      font-size: 25px;
    }

    .leftDivs {
      padding: 2%;
      .leftImageTextDiv {
        width: 114px;
        height: 114px;
        background-color: white;
        @include y-center;
        // height: 90%;
        img {
          width: 40%;
        }

        p {
          text-align: center;
          font-size: 12px;
          margin-bottom: 0;
        }
      }
    }
  }

  .modalRightCol {
    h1 {
      color: #0b4292;
      font-size: 30px;
    }
    h2 {
      color: black;
      font-size: 18px;
    }
    p {
      color: black;
    }

    .formContainer {
      @include y-center;

      .formCols {
        position: relative;
        margin-bottom: 2%;

        .formIcon {
          position: absolute;
          top: 33%;
          left: 10%;
          width: 7%;
        }
      }

      input {
        padding-left: 16%;
      }

      select {
        padding-left: 16%;
      }

      .passportField {
        padding-left: 7%;
      }

      .formIconPassport {
        width: 3.8%;
        top: 34%;
        left: 5%;
        position: absolute;
      }
    }

    option.formField {
      color: #8e8e8e;
    }

    select.formField {
      width: 100%;
    }

    .formField {
      margin: 2% 1%;
    }

    .termsPara {
      font-size: 12px;
    }

    button {
      width: 20%;
      background-color: #ffae47;
      border: 1px solid #000;
      p {
        color: white;
        margin-bottom: 0;
      }
    }
  }
}

.closeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 2vw;
  cursor: pointer;
}

// modal styling ends

// mobile landscape styling begins

@media (max-width: 900px) and (orientation: landscape) {
  .brandCol {
    img {
      width: 24%;
    }

    .headText {
      h1 {
        font-size: 1.6vw;
      }
      p {
        font-size: 1.2vw;
        line-height: 0.8rem;
      }
    }
  }

  .headLinkCol {
    .headLinkUl {
      width: 80%;
    }
  }

  .buttonCol {
    button {
      p {
        font-size: 1.5vw;
      }
    }
  }

  .modalOverlay {
    overflow: auto;
  }

  .modalContent {
    width: 80%;
    max-height: 90%;

    .modalRow {
      height: 100%;
    }

    .modalLeftCol {
      display: none;
    }

    .modalRightCol {
      height: 80vh;
      overflow-y: auto;

      h1 {
        font-size: 2.8vw;
      }

      h2 {
        font-size: 2vw;
      }
    }
  }
}

// mobile landscape styling ends

// mobile header styling begins

@media (max-width: 576px) and (orientation: portrait) {
  .mobHeaderContainer {
    display: block;
    padding: 3%;

    .mobHeaderLogo {
      display: inline;
      @include x-sb;

      .navbar-brand {
        display: inline;
      }

      a {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
          height: auto;
          max-height: 13.5vw;
          border-radius: 100%;
        }

        .mobileHeadText {
          margin-left: 2.5%;

          h1 {
            font-size: 3.8vw;
            color: #dd3534;
            margin-bottom: 0;
            
          }

          p {
            font-size: 2.8vw;
            line-height:0.9rem;
            margin-bottom: 0;
          }
        }
      }

      .whatsappDiv {
        @include x-center;
        img {
          width: 8.2vw;
          height: auto;
        }
      }

      .textLinkUl {
        margin-top: 4%;

        // .mobApplyDiv{
        //   @include x-sa;

        //   .whatsappDiv{
        //     @include x-center;

        //     p{
        //       margin-bottom:0;
        //       margin-left:2%;
        //     }
        //   }

        // }
      }

      li {
        display: flex !important;
        justify-content: center;
        margin: 1%;
      }

      .mobileHeadLinksCol {
        margin-top: 3.5%;
        .mobileHeadLinkUl {
          padding: 0 !important;
          margin-bottom: 0;
          @include x-sa;
        }
      }
    }
  }

  .headerContainer {
    display: none !important;
  }

  .modalOverlay {
    overflow: hidden;
  }

  .modalContent {
    width: 95%;
    padding: 3% 2%;
    max-height: 100%;
    overflow-y: auto;

    .modalLeftCol {
      display: none;
    }

    .modalRightCol {
      h1 {
        font-size: 7vw;
        text-align: center;
      }
      h2 {
        font-size: 4vw;
        text-align: center;
      }

      .termsPara {
        font-size: 3vw;
        text-align: center;
      }
    }
  }

  .closeButton {
    width: 7vw;
  }
}

// mobile header styling ends
