@import "../../../../mixins.module.scss";

.uniCompoContainer {
  background-color: #fff;
  padding: 1% 2%;
  margin-bottom: 4%;
  height: 35vh;

  .rowContainer {
    height: 70%;
  }

  h1 {
    font-size: 2.5vw;
  }

  .imageCol {
    height: 100%;
    img {
      width: 90%;
      height: 100%;
    }
  }

  .infoCol {
    height: 100%;
    @include y-justify-Center;

    .titlePara {
      font-family: "Open Sans";
      font-weight: 600;
    }

    p {
      font-family: "Open Sans";
      margin-bottom: 0.5rem;
    }
    .buttonDiv {
      @include x-sa;
      p {
        margin-bottom: 0;
      }

      .details {
        width: 25%;
        border-left-color: #b31811;
        border-right-color: #b31811;
        border-bottom-color: #b31811;
        background: #fe2518;
        color: whitesmoke;
      }

      .fee {
        width: 27%;
        background: #426aa7;
        border-left: 1px solid #2b4a8a;
        border-right: 1px solid #2b4a8a;
        border-bottom: 2px solid #2b4a8a;
        color: whitesmoke;
      }

      .gallery {
        width: 25%;
      }
    }
  }

  .logoCol {
    height: 100%;
    @include x-center;
    img {
      height: 85%;
      // height: 100% !important;
      // height: auto;
    }
  }
}

// modal styling

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  position: relative;
  width: 80%;
  height: 80%;
  background-color: white;
  z-index: 100;
  padding: 20px;
}

.closeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

// gallery modal styling

.galModalContent {
  position: relative;
  width: 80%;
  max-width:80%;
  height: auto;
  max-height:80%;
  background-color: white;
  z-index: 100;
  padding: 20px;
  overflow-y: scroll;

  h1{
    text-align:center;
  }

  img{
    width:100%;
    height:100%;
    object-fit:cover !important;
  }

  .galCol{
    padding:0.3%;
    // height:33vh !important;
   
  }
}

// small tab portrait styling begins
@media (max-width: 850px) and (orientation: portrait) {
  .uniCompoContainer {
    height: auto;

    .infoCol {
      p {
        margin-bottom: 0.2rem;
      }
    }

    .logoCol {
      display: none !important;
    }
  }
}

// small tab protrait styling ends

// mobile landscape styling begins
@media (max-width: 900px) and (orientation: landscape) {
  .uniCompoContainer {
    height: auto;

    h1 {
      font-size: 2.5vw;
    }

    .infoCol {
      p {
        font-size: 1.7vw;
      }
    }

    .logoCol {
      display: none !important;
    }
  }
}

// mobile landscape styling ends

//mobile portrait styling begins

@media (max-width: 576px) and (orientation: portrait) {
  .uniCompoContainer {
    height: auto;
    padding: 2%;
    margin-bottom: 10%;

    h1 {
      font-size: 5vw;
      text-align: center;
    }

    .imageCol {
      @include x-center;
      margin-bottom: 4%;
    }

    .infoCol {
      p {
        text-align: center;
      }
      .buttonDiv {
        .details {
          p {
            font-size: 4vw;
          }
        }

        .fee {
          width: 40%;
          p {
            font-size: 4vw;
          }
        }

        .gallery {
          p {
            font-size: 4vw;
          }
        }
      }
    }

    .logoCol {
      display: none;
    }
  }
}

// mobile portrait styling ends
