.iconDiv {
  position: fixed;
  bottom: 2%;
  right: 2%;
  cursor: pointer;

  img {
    width: 80%;
    height: auto;
  }

  p {
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
      1px 1px 0 black;
  }
}
