@import "../../../../mixins.module.scss";



.studyInfoContainer {
  .colOneContainer {
    background: url("../../../../Assets/StudyInRussia/studyOne.jpg");
    @include bg-center;
    @include y-bot-left;
    @include colStyles;

    .upperText {
      @include infoText;
      
      font-size: 20px;
    }

    h1 {
      @include infoText;
      @include infoHead;
    }
  }

  .colOneContainer::after {
    @include afterContent;
  }

  .colTwoContainer {
    background: url("../../../../Assets/StudyInRussia/studyTwo.jpg");
    @include bg-center;

    @include y-bot-left;
    @include colStyles;

    .upperText {
      @include infoText;
      font-size: 20px;
    }

    h1 {
      @include infoText;
      @include infoHead;
    }
  }

  .colTwoContainer::after {
    @include afterContent;
  }

  .colThreeContainer {
    background: url("../../../../Assets/StudyInRussia/studyThree.jpg");
    @include bg-center;

    @include y-bot-left;
    @include colStyles;

    .upperText {
      @include infoText;
      font-size: 20px;
    }

    h1 {
      @include infoText;
      @include infoHead;
    }
  }

  .colThreeContainer::after {
    @include afterContent;
  }

  .colFourContainer {
    background: url("../../../../Assets/StudyInRussia/studyFour.jpg");
    @include bg-center;

    @include y-bot-left;
    @include colStyles;

    .upperText {
      @include infoText;
      font-size: 20px;
    }

    h1 {
      @include infoText;
      @include infoHead;
    }
  }

  .colFourContainer::after {
    @include afterContent;
  }

  .colFiveContainer {
    background: url("../../../../Assets/StudyInRussia/studyFive.jpg");
    @include bg-center;

    @include y-bot-left;
    @include colStyles;

    .upperText {
      @include infoText;
      font-size: 20px;
    }

    h1 {
      @include infoText;
      @include infoHead;
    }
  }

  .colFiveContainer::after {
    @include afterContent;
  }

  .colSixContainer {
    background: url("../../../../Assets/StudyInRussia/studySix.jpg");
    @include bg-center;

    @include y-bot-left;
    @include colStyles;

    .upperText {
      @include infoText;
      font-size: 20px;
    }

    h1 {
      @include infoText;
      @include infoHead;
    }
  }

  .colSixContainer::after {
    @include afterContent;
  }

  .hrStyle {
    @include infoText;
    border: 4px solid #fe2216;
    width: 30%;
    opacity: 1;
    margin: 0;
  }
}
