@import "../../../mixins.module.scss";

.leftCol {
  background: url("../../../Assets/Information/infoOne.webp");
  @include bg-center;
  background-position: 70%;
  @include y-bot-left;
  transition: background-size 0.3s ease-in-out;
  @include colStyles;
  height: 85vh;

  .upperText {
    @include infoText;
    font-size: 13px;
  }

  h1 {
    @include infoText;
    @include infoHead;
  }
}

.leftCol::after {
  @include afterContent;
  overflow: hidden;
}

.leftCol:hover {
  background-size: 170%;
}

.rightCol {
  height: 85vh;
}

.rightTopCol {
  background: url("../../../Assets/Information/infoTwo.webp");
  @include bg-center;
  background-position: 80% 35%;
  @include y-bot-left;
  @include colStyles;
  height: 42.5vh;
  transition: background-size 0.3s ease-in-out;

  .upperText {
    @include infoText;
    font-size: 13px;
  }

  h1 {
    @include infoText;
    @include infoHead;
  }
}

.rightTopCol::after {
  @include afterContent;
}

.rightTopCol:hover {
  background-size: 101%;
}

.rightBotCol {
  height: 42.5vh;
}

.rightBotLeft {
  background: url("../../../Assets/Information/infoThree.webp");
  @include bg-center;
  @include y-bot-left;
  @include colStyles;
  height: 42.5vh;
  transition: background-size 0.3s ease-in-out;

  .upperText {
    @include infoText;
    font-size: 13px;
  }

  h1 {
    @include infoText;
    @include infoHead;
  }
}

.rightBotLeft::after {
  @include afterContent;
}

.rightBotLeft:hover {
  background-size: 136%;
}

.rightBotRight {
  background: url("../../../Assets/Information/infoFour.webp");
  @include bg-center;
  @include y-bot-left;
  padding-bottom: 4%;
  padding-left: 2% !important;
  position: relative; //new code
  transition: background-size 0.3s ease-in-out;

  .upperText {
    @include infoText;
    font-size: 13px;
  }

  h1 {
    @include infoText;
    @include infoHead;
  }

  a {
    text-decoration: none;
  }
}

.rightBotRight::after {
  @include afterContent;
}

.rightBotRight:hover {
  background-size: 140%;
}

.hrStyle {
  @include infoText;
  border: 4px solid #fe2216;
  width: 30%;
  opacity: 1;
  margin: 0;
}

// the image hovering styling specially for the device upto 1200px begins
@media (max-width: 1200px) {
  .leftCol:hover {
    background-size: cover;
  }

  .rightTopCol:hover {
    background-size: cover;
  }

  .rightBotLeft:hover {
    background-size: cover;
  }

  .rightBotRight:hover {
    background-size: cover;
  }
}

// small tab portrait styling begins
@media (max-width: 850px) and (orientation: portrait) {
  .leftCol {
    height: 40vh;
  }

  .leftCol:hover {
    background-size: cover;
  }

  .rightCol {
    height: 50vh;
  }

  .rightTopCol {
    height: 25vh;
  }

  .rightTopCol:hover {
    background-size: cover;
  }

  .rightBotLeft {
    height: 25vh;
  }

  .rightBotLeft:hover {
    background-size: cover;
  }

  .rightBotRight {
    height: 25vh;
  }
  .rightBotRight:hover {
    background-size: cover;
  }
}

// small tab portrait styling ends

// styling for mobile landscape begins
@media (max-width: 900px) and (orientation: landscape) {
  .leftCol {
    .upperText {
      font-size: 2vw;
    }

    h1 {
      font-size: 2.8vw;
    }
  }

  .leftCol:hover {
    background-size: cover;
  }

  .rightTopCol {
    .upperText {
      font-size: 2vw;
    }

    h1 {
      font-size: 2.8vw;
    }
  }

  .rightTopCol:hover {
    background-size: cover;
  }

  .rightBotLeft {
    .upperText {
      font-size: 2vw;
    }

    h1 {
      font-size: 2.8vw;
    }
  }

  .rightBotLeft:hover {
    background-size: cover;
  }

  .rightBotRight {
    .upperText {
      font-size: 2vw;
    }

    h1 {
      font-size: 2.8vw;
    }
  }

  .rightBotRight:hover {
    background-size: cover;
  }

  .hrStyle {
    border: 3px solid #fe2216;
  }
}

// styling for mobile landscape begins

// styling for mobile portrait begins
@media (max-width: 576px) and (orientation: portrait) {
  .leftCol {
    height: 43vh;
    padding-left: 3% !important;

    .upperText {
      font-size: 4vw;
    }

    h1 {
      font-size: 6vw;
    }
  }

  .leftCol:hover {
    background-size: cover;
  }

  .rightCol {
    height: auto;
  }

  .rightTopCol {
    height: 27vh;
    padding-left: 3% !important;

    .upperText {
      font-size: 4vw;
    }

    h1 {
      font-size: 6vw;
    }
  }

  .rightTopCol:hover {
    background-size: cover;
  }

  .rightBotCol {
    height: auto;
  }

  .rightBotLeft {
    height: 30vh;
    padding-left: 3% !important;

    .upperText {
      font-size: 4vw;
    }

    h1 {
      font-size: 6vw;
    }
  }

  .rightBotLeft:hover {
    background-size: cover;
  }

  .rightBotRight {
    height: 30vh;
    padding-left: 3% !important;

    .upperText {
      font-size: 4vw;
    }

    h1 {
      font-size: 6vw;
    }
  }

  .rightBotRight:hover {
    background-size: cover;
  }
}

// styling for mobile portrait ends
