@import "../../../../mixins.module.scss";

.uniIntroContainer {
  height: auto;
  @include y-top-center;
  @include padThree;
  @include verticalPad;

  .linkDiv {
    align-self: center;
    margin-bottom: 4%;

    a {
      @include theLink;
    }
    p {
      display: inline;
    }
  }

  h1 {
    @include mainHeading;
  }

  p {
  
    @include para;
    line-height:normal;
  }
}

// styling mobile portrait begins

@media (max-width: 576px) and (orientation: portrait) {
  .uniIntroContainer {
    @include levTwoIntroMob;
  }
}

// styling mobile portrait ends
