@import "../../../mixins.module.scss";

.aboutIntroContainer {
  @include x-center;
}

.contentContainer {
  width: 80%;
  @include verticalPad;
  @include y-start;

  .linkDiv {
    align-self: center;

    margin-bottom: 4%;

    a {
      @include theLink;
    }
    p {
      display: inline;
    }
  }

  // styling for the actve tabs begins

  .tabsDiv {
    width: 100%;
    margin-bottom: 3%;
    padding-inline: 15%;
    @include x-center;

    a {
      @include xmar1;
    }

    .tabs {
      background-color: white;
      border-radius: 20px;
      border: 2px solid #143f6b;
      height: 2rem;
      padding-inline: 10px;
      font-weight: 600;
      white-space: nowrap;
    }

    .activeTabs {
      background-color: #143f6b;
      color: white;
      border-radius: 20px;
      border: 2px solid #143f6b;
      height: 2rem;
      padding-inline: 10px;
      font-weight: 600;
      white-space: nowrap;
    }
  }

  .mainHeading {
    @include mainHeading;
  }

  h3 {
    @include subHeading;
  }

  p {
    @include para;
  }

  .greyContainer {
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 3%;
    background-color: #f0f0f0;
    @include x-center;
    h2 {
      text-align: center;
      @include subHeading;
    }
  }
}

// styling for mobile portrait begins

@media (max-width: 576px) and (orientation: portrait) {
  .contentContainer {
    width: 90%;

    .linkDiv {
      margin-bottom: 5%;
    }

    .tabsDiv {
      margin-bottom: 7%;
      overflow-x: auto;
      justify-content: start;
      padding-inline: unset;
    }
  }
}

// styling for mobile portrait ends
