@import "../../../../mixins.module.scss";

.divContainer {
  @include x-center;
}

.priceContainer {
  width: 80%;
  @include verticalPad;
  @include y-start;

  .linkDiv {
    align-self: center;
    margin-bottom: 4%;

    a {
      @include theLink;
    }
    p {
      display: inline;
    }
  }

  .tabsDiv {
    width: 100%;
    margin-bottom: 3%;
    padding-inline: 15%;
    @include x-center;

    a {
      @include xmar1;
    }

    .tabs {
      background-color: white;
      border-radius: 20px;
      border: 2px solid #143f6b;
      height: 2rem;
      padding-inline: 10px;
      font-weight: 600;
    }

    .activeTabs {
      background-color: #143f6b;
      color: white;
      border-radius: 20px;
      border: 2px solid #143f6b;
      height: 2rem;
      padding-inline: 10px;
      font-weight: 600;
    }
  }

  img {
    @include theImage;
  }

  h1 {
    @include mainHeading;
  }

  h2 {
    @include subHeading;
  }

  p {
    @include para;
  }

  .paraLight {
    font-weight: 600 !important;
  }

  .paraBold {
    @include paraBold;
  }

  .greyDiv {
    @include grey;
  }
}
