@import "../../../mixins.module.scss";

.faqContainer {
  @include nopad;
  @include y-center;

  height: 81.5vh;
  padding-inline: 4% !important;

  border: 1px 0 solid black;
  @include bgcolor;
}
.faqTitle {
  @include heading;

  margin-bottom: 3%;

  font-family: "Open Sans", sans-serif;
}

.colsContainer {
  @include x-center;
  @include nopad;

  .rowOptions {
    width: 100%;
    height: 54vh;
    @include x-sb;
  }

  .optionContainer {
    height: 100%;
    width: 22%;
    margin-inline: 1%;

    a {
      text-decoration: none;
    }

    .applyDiv {
      height: 100%;
      width: 105%;
    }
    .optionUpper {
      @include x-center;
      height: 30vh;
    }

    .optionLower {
      @include y-center;
      height: 24vh;

      background-color: white;

      p {
        font-family: sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 15px;
        text-align: center;
        color: black;
      }

      .subText {
        font-size: 12px;
        font-weight: 550;
      }
    }
  }
}

// tab landscape styling begins
@media (max-width: 1200px) and (orientation: landscape) {
  .colsContainer {
    .optionContainer {
      height: 40vh;
      .optionUpper {
        height: 20vh;
      }

      .optionLower {
        height: 20vh;
      }
    }
  }
}

// tab landscape styling ends

// small tab portrait styling begins
@media (max-width: 850px) and (orientation: portrait) {
  .faqContainer {
    height: auto;
    padding: 1% 0 3% 0 !important;
  }

  .faqTitle {
    font-size: 5vw;
  }

  .colsContainer {
    .rowOptions {
      height: 22vh;
    }

    .optionContainer {
      width: 23%;

      .optionUpper {
        height: 10vh;
      }

      .optionLower {
        height: 12vh;
        padding-inline: 1%;

        p {
          font-size: 1.6vw;
          margin-bottom: 0.5rem;
        }

        .subText {
          font-size: 1.2vw;
        }
      }
    }
  }
}

// small tab portrait styling ends

// styling for mobile landscape begins
@media (max-width: 900px) and (orientation: landscape) {
  .faqContainer {
    height: auto;
    padding: 1% 4% 4% !important;
  }

  .faqTitle {
    font-size: 3.8vw;
  }

  .colsContainer {
    .optionContainer {
      .optionLower {
        p {
          font-size: 1.3vw;
          margin-bottom: 0;
        }

        .subText {
          font-size: 1.1vw;
          margin-bottom: 0;
        }
      }
    }
  }
}

// styling for mobile landscape ends

// styling for mobile portrait begins

@media (max-width: 576px) and (orientation: portrait) {
  .faqContainer {
    height: auto;
    padding: 12% 4% !important;
  }

  .faqTitle {
    font-size: 7vw;
    line-height: 2rem;
  }

  .colsContainer {
    .rowOptions {
      height: auto;
    }

    .optionContainer {
      width: 100%;
      margin: 4% 0;

      iframe {
        width: 100%;
        height: 54vh;
      }

      .optionUpper {
        height: 36vh;
      }

      .optionLower {
        height: 18vh;
        padding: 5%;
        p {
          font-size: 4vw;
        }

        .subText {
          font-size: 3.5vw;
          color: #808080db;
        }
      }
    }
  }
}

// styling for mobile portrait ends
