@import "../../../mixins.module.scss";

.testiContainer {
  @include nopad;
  @include y-center;
  height: 81.5vh;
  padding-inline: 4% !important;
  border: 1px 0 solid black;

  .testiTitle {
    @include heading;
    margin-bottom: 3%;
  }

  .colsContainer {
    @include x-center;
    @include nopad;

    .rowTesti {
      width: 100%;
      height: 54vh;
      @include x-sb;
    }

    .studentCard {
      height: 100%;
      width: 22%;
      margin-inline: 1%;
      padding: 1%;
      background-color: grey;
      border-radius: 4%;

      hr {
        margin: 0 0;
      }

      .namePara {
        text-align: center;
        font-size: 1.5vw;
      }

      .uniPara {
        text-align: center;
        font-size: 1.1vw;
      }

      .cardQoute {
        display: inline;
        text-align: center;
        font-size: 1.2vw;
        cursor: pointer;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

// the modal styling begins
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  position: relative;
  width: 50%;
  height: auto;
  background-color: white;
  z-index: 100;
  padding: 20px;

  .modalQoute {
    text-align: center;
    font-size: 2vw;
    font-weight: 500;
    line-height: 2rem;
  }

  .modalBottomPara {
    margin-bottom: 0;
  }
}

.closeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

// the modal styling ends

// styling for mobile portrait begins

@media (max-width: 576px) and (orientation: portrait) {
  .testiContainer {
    height: auto;

    .testiTitle {
      font-size: 25px;
    }

    .colsContainer{
      .rowTesti{
        height:auto;
      }

      .studentCard{
        width:100%;
        margin:2% 0;

       .namePara{
        font-size: 6.5vw;
       }

       .uniPara{
        font-size: 5.5vw;
       }

       .cardQoute{
        font-size: 4.5vw;
        
       }
      }
    }
  }

  .rowTesti {
  }
}

// styling for mobile portrait ends
