@import "../../../mixins.module.scss";

.testiContainer {
  //    background: url("../../../Assets/Testimonial/testiBack.png");
  // @include bg-center;
  @include nopad;
  @include y-center;
  height: 81.5vh;
  padding-inline: 4% !important;
  border: 1px 0 solid black;
  // background-color: #27374d;

  .testiTitle {
    @include heading;
    font-family: "Playfair Display SC", serif;
    margin-bottom: 3%;
    // color: #dde6ed;
  }

  .colsContainer {
    @include x-center;
    @include nopad;

    .rowTesti {
      width: 100%;
      height: 54vh;
      @include x-sb;
    }

    .studentCard {
      height: 100%;
      width: 22%;
      margin-inline: 1%;
      padding: 1%;
      // background-color: grey;
      // background-color: #9db2bf;
      border-radius: 4%;

      hr {
        margin: 0.5rem 0;
      }

      .namePara {
        text-align: center;
        font-size: 1.5vw;
        font-weight: 600;
        margin-top: 5%;
        margin-bottom: 0;
        color: whitesmoke;
        font-family: "Open Sans", sans-serif;
      }

      .uniPara {
        font-family: "montserrat";
        text-align: center;
        font-size: 1.1vw;
        margin-bottom: 0;
        color: whitesmoke;
      }

      .cardQoute {
        font-family: "open sans";
        display: inline;
        text-align: center;
        color: whitesmoke;
        font-size: 1.2vw;
        cursor: pointer;
      }
      img {
        width: 100%;
        height: auto;
        border-radius: 6%;
      }
    }
  }
}

// the modal styling begins
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  position: relative;
  width: 50%;
  height: auto;
  background-color: white;
  z-index: 100;
  padding: 20px;

  .modalQoute {
    text-align: center;
    font-size: 2vw;
    font-weight: 500;
    line-height: 2rem;
  }

  .modalBottomPara {
    margin-bottom: 0;
  }
}

.closeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

// the modal styling ends

// tab landscape styling begins
@media (max-width: 1200px) and (orientation: landscape) {
  .testiContainer {
    .colsContainer {
      .studentCard {
        height: 40.5vh;
      }
    }
  }
}

// tab landscape styling ends

// small tab portrait styling begins
@media (max-width: 850px) and (orientation: portrait) {
  .testiContainer {
    height: auto;
    padding: 1% 0 3% 0 !important;

    .testiTitle {
      font-size: 5vw;
    }

    .colsContainer {
      .rowTesti {
        height: 25vh;
      }

      .studentCard {
        width: 23%;

        .namePara {
          font-size: 1.8vw;
        }

        .uniPara {
          font-size: 1.6vw;
        }

        .cardQoute {
          font-size: 1.4vw;
        }
      }
    }
  }
}

// small tab portrait styling ends

// mobile landscape styling begins
@media (max-width: 900px) and (orientation: landscape) {
  .testiContainer {
    height: auto;
    padding: 1% 4% 4% !important;

    .testiTitle {
      font-size: 3.8vw;
    }

    .colsContainer {

      .rowTesti{
        height:auto;
      }
      .studentCard {
        height:auto;
        min-height:60vh;
        .namePara {
          font-size: 1.3vw;
          margin-bottom: 5%;
        }

        .uniPara {
          font-size: 1.1vw;
          margin-bottom: 0;
        }

        .cardQoute {
          font-size: 1.2vw;
        }
      }
    }
  }

  .modalOverlay {
    overflow: hidden;
  }

  .modalContent {
    max-height: 90%;
    overflow-y: auto;
  }
}

// mobile landscape styling ends

// styling for mobile portrait begins

@media (max-width: 576px) and (orientation: portrait) {
  .testiContainer {
    height: auto;
    padding: 12% 4% !important;

    .testiTitle {
      font-size: 7vw;
      line-height: 2rem;
    }

    .colsContainer {
      .rowTesti {
        height: auto;
        padding-inline: 3%;
      }

      .studentCard {
        width: 100%;
        margin: 4% 0;
        padding: 5%;
        @include y-center;

        img {
          border-radius: 6%;
        }

        .namePara {
          font-size: 6.5vw;
          margin-bottom: 0;
          margin-top: 2%;
        }

        .uniPara {
          font-size: 5.5vw;
        }

        .cardQoute {
          font-size: 4.5vw;
        }
      }
    }
  }

  .modalOverlay {
    overflow: hidden;
  }

  .modalContent {
    width: 95%;
    max-height: 90%;
    overflow-y: auto;

    .modalTitlePara {
      font-size: 4.5vw;
    }

    .modalQoute {
      font-size: 5vw;
    }

    .modalBottomPara {
      font-size: 4vw;
    }
  }
}

// styling for mobile portrait ends
