@import "../../../mixins.module.scss";

.discoverContainer {
  // background: url("../../../Assets/Destination/discoverBack.png");
  // @include bg-center;
  @include nopad;
  @include y-center;
  // height: 79vh;
  height: 81.5vh;
  padding-inline: 4% !important;
  // padding-top: 7% !important;

  border: 1px 0 solid black;
  //   @include bgcolor;
}
.discoverTitle {
  @include heading;
  // font-family: "cinzel decorative";
  color: #002838;
  margin-bottom: 3%;

  // font-family: 'Caveat', cursive;
  // font-family: 'Cinzel Decorative', serif;
  // font-family: 'Croissant One', serif;
  // font-family: 'Fuggles', cursive;
  font-family: "Gloock", serif;
  // font-family: 'Inter', sans-serif;
  // font-family: 'Montserrat', sans-serif;
  // font-family: "Open Sans", sans-serif;
  // font-family: 'Permanent Marker', cursive;
  // font-family: 'Playfair Display SC', serif;
}

.colsContainer {
  @include x-center;
  @include nopad;

  .rowOptions {
    width: 100%;
    height: 54vh;
    @include x-sb;
  }

  .optionContainer {
    height: 100%;
    width: 22%;
    margin-inline: 1%;

    a {
      text-decoration: none;
    }

    .optionUpper {
      @include y-bot-left;
      height: 34vh;
      p {
        // font-family: sans-serif;
        font-family: "croissant one", sans-serif;

        font-size: 2vw;
        color: whitesmoke;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }

    .optionLower {
      @include x-center;
      height: 15vh;
      background: #5780c0;

      .hrDiv {
        @include x-center;
        .discoverHr {
          border: 2px solid white;
          margin: 2% 0;
          width: 100%;
          @include x-center;
        }
      }

      .lowerText {
        p {
          margin-bottom: 0;
          font-size: 1vw;
        }

        .lowerTextLeft {
          p {
            color: #b3c3dc;
          }
        }
        .lowerTextRight {
          @include x-end;
          p {
            color: #fff;
            font-weight: 700;
          }
        }
      }
    }
  }
}

// tab landscape styling begins
@media (max-width: 1200px) and (orientation: landscape) {
  .colsContainer {
    .optionContainer {
      .optionUpper {
        height: 25vh;
      }
    }
  }
}
// tab landscape styling ends

// small tab portrait styling begins
@media (max-width: 850px) and (orientation: portrait) {
  .discoverContainer {
    height: auto;
    padding: 1% 0 3% 0 !important;
  }

  .discoverTitle {
    font-size: 5vw;
  }

  .colsContainer {
    .rowOptions {
      height: 25vh;
    }

    .optionContainer {
      width: 23%;

      .optionUpper {
        height: 12vh;
      }

      .optionLower {
        height: 8vh;
      }
    }
  }
}

// small tab portrait styling ends

// styling for mobile landscape begins
@media (max-width: 900px) and (orientation: landscape) {
  .discoverContainer {
    height: auto;
    padding: 1% 4% 4% !important;
  }

  .discoverTitle {
    font-size: 3.8vw;
  }

  .colsContainer {
    .optionContainer {
      .optionLower {
        .lowerText {
          .lowerTextLeft {
            p {
              font-size: 0.7vw;
            }
          }

          .lowerTextRight {
            p {
              font-size: 0.7vw;
            }
          }
        }
        // p {
        //   font-size: 1.3vw;
        //   margin-bottom: 0;
        // }

        // .subText {
        //   font-size: 1.1vw;
        //   margin-bottom: 0;
        // }
      }
    }
  }
}

// styling for mobile landscape ends

// styling for mobile portrait begins

@media (max-width: 576px) and (orientation: portrait) {
  .discoverContainer {
    height: auto;
    padding: 12% 4% !important;
  }

  .discoverTitle {
    font-size: 7vw;
    line-height: 2rem;
    font-family: "'Cinzel Decorative'";
    font-weight: 600;
    color: #002838;
  }

  .colsContainer {
    .rowOptions {
      height: auto;
    }

    .optionContainer {
      width: 100%;
      margin: 2% 0;

      .optionUpper {
        height: 36vh;
        p {
          padding-inline: 2%;
          margin-left: 3%;
          font-size: 6.5vw;
        }
      }

      .optionLower {
        height: 20vh;

        .lowerText {
          p {
            font-size: 4vw;
          }
        }
      }
    }
  }
}

// styling for mobile portrait ends
