@import "../../../mixins.module.scss";

.studentContainer {
  height: 81.5vh;

}

.slideOne {
  background: url("../../../Assets/students/IntroFive.jpg");
  @include bg-center;
  height: 81.5vh;
  position: relative;
  z-index: -1;
}

.slideTwo {
  background: url("../../../Assets/students/IntroSix.jpg");
  @include bg-center;
  height: 81.5vh;
  position: relative;
  z-index: -1;
}

.slideThree {
  background: url("../../../Assets/students/IntroEleven.jpg");
  @include bg-center;
  height: 81.5vh;
  position: relative;
  z-index: -1;
}

// .slideFour {
//   background: url("../../../Assets/students/IntroEight.jpg");
//   @include bg-center;
//   height: 85vh;
//   position: relative;
//   z-index: -1;
// }

// .slideFive {
//   background: url("../../../Assets/students/IntroTen.jpg");
//   // background-size: cover;
//   // background-position: center;
//   @include bg-center;
//   height: 85vh;
//   position: relative;
//   z-index: -1;
// }




// styling for mobile portrait begins

@media (max-width:576px) and (orientation:portrait){
  .studentContainer{
    height:auto;
  }

  .slideOne{
      height:90vh;
  }

  .slideTwo{
    height:90vh;

  }

  .slideThree{
    height:90vh;

  }
}





// styling for mobile portrait ends

































// .studentContainer {
//   height: 85vh;
//   @include y-center;
//   @include border;

//   h1 {
//     font-family: fantasy, sans-serif;
//     font-style: normal;
//     font-size: 70px;
//     font-weight: 400;
//     line-height: 100px;
//   }

//   p {
//     font-family: monospace;
//     font-style: normal;
//     font-size: 18px;
//     line-height: 3px;
//   }
// }
