@import "../../../mixins.module.scss";

.divContainer {
  @include x-center;
}

.stepsDiv{
    width: 80%;
    @include verticalPad;
    @include y-start;

    .linkDiv {
        align-self: center;
        margin-bottom: 4%;
    
        a {
          @include theLink;
        }
        p {
          display: inline;
        }
      }

      h1 {
        @include mainHeading;
      }

      p {
        @include para;
      }
}
