@import "../../../mixins.module.scss";

.divContainer {
  @include x-center;
}

.stepsDiv {
  width: 80%;
  @include verticalPad;
  @include y-start;

  .linkDiv {
    align-self: center;
    margin-bottom: 4%;

    a {
      @include theLink;
    }
    p {
      display: inline;
    }
  }

    .stepsUl{
      li{
        display:list-item;
      }
    }


  h1 {
    @include mainHeading;
  }

  p {
    @include para;
  }
}

// styling for mobile portrait begins

@media (max-width: 576px) and (orientation: portrait) {
  .stepsDiv {
    width: 90%;

    .linkDiv {
      margin-bottom: 5%;
    }

    .tabsDiv {
      margin-bottom: 7%;
      overflow-x: auto;
      justify-content: start;
      padding-inline: unset;
    }
  }
}

// styling for mobile portrait ends
