@import "../../../mixins.module.scss";

.stepsContainer {
  // height: 75vh;
  height: 74.5vh;
  padding-inline: 7%;
  @include y-center;
  // @include border;
  // @include bgcolor;
  background-color: white;

  a {
    text-decoration: none;
    color: #333; /* Text color */
    transition: text-decoration 0.2s;

    :hover {
      font-weight: 500;
      // text-decoration: underline;
      // text-decoration-thickness: 2px;
    }
  }

  // .unHoveredLink {
  //   text-decoration: none !important;
  // }

  // .hoveredLink {
  //   text-decoration: dashed !important;
  // }

  h1 {
    @include heading;
    font-weight: 300;
    font-family: "Open Sans", sans-serif !important;
    margin-bottom: 2%;
    color: #dd3534;
  }
}

.stepContainer {
  height: 42vh;

  @include y-center;

  .stepsRow {
    width: 100%;

    a {
      text-decoration: none;
    }
  }

  .stepsUpper {
    height: 21vh;
    // @include border;
    background-size: 100% 100%;
    background-position: 50% -102%;
    @include x-center;
  }

  .stepsLower {
    height: 20vh;
    // @include border;
    @include y-sa;
    background-color: white;
    
    .circle{
      border:2px solid #dd3534;
      border-radius:50%;
      padding:3%;
      width:24%;
    }



    p {
      font-family: sans-serif;
      font-weight: 600;
      font-size: 15px;
      color: red;
      text-align: center;
      margin-bottom:0;
    }
  }
}

// tab landscpae styling begins
@media (max-width: 1200px) and (orientation: landscape) {
  .stepContainer {
    .stepsUpper {
      height: 15vh;
    }

    .stepsLower {
      height: 15vh;
    }
  }
}

// tab landscape styling ends

//small tab portrait styling begins
@media (max-width: 850px) and (orientation: portrait) {
  .stepsContainer {
    height: auto;
    padding: 1% 0 3% 0 !important;

    h1 {
      font-size: 5vw;
      line-height: normal;
    }
  }

  .stepContainer {
    height: 25vh;

    .stepsUpper {
      height: 8vh;
    }

    .stepsLower {
      height: 9vh;

      .circle{
        width:30%;
      }

      p {
        font-size: 1.6vw;
        margin-bottom: 0;
      }
    }
  }
}

//small tab portrait styling ends

// styling for mobile landscape begings

@media (max-width: 900px) and (orientation: landscape) {
  .stepsContainer {
    height: auto;
    padding: 1% 4% 4% !important;

    h1 {
      font-size: 3.8vw;
    }
  }

  .stepContainer {
    .stepsLower {

      .circle{
        width:30%;
      }
      p {
        font-size: 1.3vw;
        margin-bottom: 0;
      }
    }
  }
}

// styling for mobile landscape ends

// styling for mobile portrait begins
@media (max-width: 576px) and (orientation: portrait) {
  .stepsContainer {
    height: auto;
    // padding-inline:unset;
    padding: 6% 2% !important;
    border: 2px solid #dd3534;

    h1 {
      font-size: 7vw;
      line-height: 2rem;
    }
  }

  .stepContainer {
    height:20vh;

    .stepsRow{
      a{
        padding-inline:0.5%;
      }
    }
    .stepsUpper {
      height: 6vh;
    }

    .stepsLower {
      // height: 6vh;

      .circle{
        width:36%;
      }
      p{
        font-size:1.9vw;
        margin-bottom:0;
      }
    }
  }
}

// styling for mobile portrait ends
