@import "../../../../mixins.module.scss";

.RussInfoContainer {
  @include x-center;

  .infoRow {
    width: 100%;
  }
  .colOneContainer {
    background: url("../../../../Assets/WhyRussia/advantageOuter.webp");
    @include bg-center;
    @include y-bot-left;
    @include colStyles;
    transition: background-size 0.3s ease-in-out;

    .upperText {
      @include infoText;
      font-size: 20px;
    }

    h1 {
      @include infoText;
      @include infoHead;
    }
  }

  .colOneContainer::after {
    @include afterContent;
  }

  .colOneContainer:hover{
    background-size:101%;
  }

  .colTwoContainer {
    background: url("../../../../Assets/WhyRussia/Tradition\ of\ higher\ education.webp");
    @include bg-center;

    @include y-bot-left;
    @include colStyles;
    transition: background-size 0.3s ease-in-out;

    .upperText {
      @include infoText;
      font-size: 20px;
    }

    h1 {
      @include infoText;
      @include infoHead;
    }
  }

  .colTwoContainer::after {
    @include afterContent;
  }

  .colTwoContainer:hover{
    background-size:101%;
  }

  .colThreeContainer {
    background: url("../../../../Assets/WhyRussia/testiOuter.webp");
    @include bg-center;

    @include y-bot-left;
    @include colStyles;
    transition: background-size 0.3s ease-in-out;

    .upperText {
      @include infoText;
      font-size: 20px;
    }

    h1 {
      @include infoText;
      @include infoHead;
    }
  }

  .colThreeContainer::after {
    @include afterContent;
  }

  .colThreeContainer:hover{
    background-size:102%;
  }

  .colFourContainer {
    background: url("../../../../Assets/WhyRussia/russianRanking.webp");
    @include bg-center;

    @include y-bot-left;
    @include colStyles;
    transition: background-size 0.3s ease-in-out;

    .upperText {
      @include infoText;
      font-size: 20px;
    }

    h1 {
      @include infoText;
      @include infoHead;
    }
  }

  .colFourContainer::after {
    @include afterContent;
  }

  .colFourContainer:hover{
    background-size:101%  ;
  }

  .hrStyle {
    @include infoText;
    border: 4px solid #fe2216;
    width: 30%;
    opacity: 1;
    margin: 0;
  }
}



// styling for mobile portrait begins
@media (max-width:576px) and (orientation:portrait){
  .colOneContainer{
    height:35vh !important;
      .upeprText{
        font-size:4vw;
      }

      h1{
        font-size:6vw;
      }
  }

  .colOneContainer:hover{
    background-size:121% !important;
  }

  .colTwoContainer{
    height:35vh !important;
   .upeprText{
        font-size:4vw;
      }

      h1{
        font-size:6vw;
      }
  }

  .colTwoContainer:hover{
    background-size:130% !important;
  }



  .colThreeContainer{
    height:35vh !important;
   .upeprText{
        font-size:4vw;
      }

      h1{
        font-size:6vw;
      }
  }

  .colThreeContainer:hover{
    background-size:115% !important;
  }

  .colFourContainer{
    height:35vh !important;
    
   .upeprText{
        font-size:4vw;
      }

      h1{
        font-size:6vw;
      }
  }
  .colFourContainer:hover{
    background-size:130% !important;
  }
}







// styling for mobile portrait ends
