@import "../../../../mixins.module.scss";

.russIntroContainer {
  height: auto;
  @include y-top-center;
  @include padThree;
  @include verticalPad;

  .linkDiv {
    align-self: center;
    margin-bottom: 4%;

    a {
      @include theLink;
    }
    p {
      display: inline;
    }
  }

  h1 {
    @include mainHeading;
  }

  p {
    font-size: 1.3vw;
    text-align: justify;
  }
}

// styling mobile portrait begins

@media (max-width: 576px) and (orientation: portrait) {
  .russIntroContainer {
    @include levTwoIntroMob;
  }
}

// styling mobile portrait ends
